h1{
    color:rgb(82, 60, 189); font-size:60px
} /* internal css kaj ,style bitor "type" na dile w3 validtor kono crror dekhai na*/
p{
    color:rgb(139, 40, 104); font-size:30px;text-align:justify;
}